@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --cordefundo:#dee77ea4;
    --cordocorpo:#465900;
}
body{
    background-color:var(--cordefundo) ;
    max-width: 1000px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(51, 175, 24);
}
header h1 {
    position: relative;
    right: 7%;
    font-weight: bolder;
}
.superior{
    display: flex;
    position: relative;
    left: 8%;
    gap: 18px;
    margin-right: 10px;
    
}
.superior a {
    color:rgb(51, 175, 24) ;
    font-weight: normal;
}
.superior a:hover{
    text-decoration: underline;
    background-color:var(--cordefundo) ;
}

main{
    background-color: var(--cordocorpo);
    padding-top: 75px;
    padding-right: 200px;
    padding-left: 200px;
}
.container{
    display: flex;
    background-color: var(--cordefundo);
    margin-bottom: -35px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding-top: 80px;
    position: relative;
    left: 11%;
}
.container img{
    
}
.inferior{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:var(--cordocorpo);
    margin-top: 35px;
    width: 950px;
    gap: 15px;
    
    
}