@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --cordefundo:#dee77ea4;
    --cordocorpo:#465900;
}
body{
    background-color: var(--cordefundo);
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1em;
    color: rgb(1, 56, 1);
    
    
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    
    
    
}
.superior a {
    color: rgb(1, 56, 1);
    padding-right: 1.5em;
}
header h1{
    padding-left: 2em;
}
.superior a:hover {
    text-decoration: underline;
}
main{
    background-color: var(--cordocorpo);
    padding-top: 7em;
}
.container{
    background-color: rgb(212, 212, 131);
    display: flex;
    align-items: center;
    width: 56.25em;
    height: 31.25em;
    margin: 0 auto;
    
    
}
main img {
    position: relative;
    
    
}
.conteudo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    margin-top: -3.4em;
    font-size: 1.2em;
    
}
.inferior{
    background-color: var(--cordocorpo);
    width: 56.25em;
    height: 3.1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;
}
aside{
    text-align: center;
    font-size: 1.2em;
    word-spacing: 0.31em;
    padding: 0em 18.12em 2.5em 18.12em;
    margin-top: 2.5em;
}
@media screen and (max-width:65.75em){
    header{
        margin: 0;
        padding: 0;
        flex-direction:row;
        width: 30.2em;
        font-size: 1em;
        height: 5em;
        align-items: center;
        
    }
    h1 header{
        
    }
    .superior{
        flex-wrap:inherit;
        display: none;
        

    }
    .inferior{
        margin: 0;
        padding: 0;
        width: 30.2em;
    }
    main{
        margin: 0;
        padding: 0;
        padding-top: 5em;
    }
    .container{
        margin: 0;
        padding: 0;
        width: 30.2em;
        justify-content: center;
    }
    main img{
        width: 15em;
        height: 22em;
    }
    .conteudo{
        margin: 0;
        padding: 0;
        gap: 15px;
        padding-left: 1.25em;
    }
    aside{
        padding: 0;
        margin: 0;
        font-size: 1em;
        margin-top: 1.7em;
    }


}